* {
    font-family: 'Crimson Text', serif;
    text-decoration: none;
}

h1 {
    font-family: 'Antic Slab', serif;
    font-size: 2.5em;
}

nav.wrap {
    background-color: white;
    border-bottom: 1px solid black;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav.header {
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    /*display: flex;*/
    justify-content: space-around;
    padding: 10px 0px;
    position: absolute;
}

nav a {
    font-family: 'Antic Slab', serif;
    font-weight: bold;
    color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px 10px;
    margin: 0 5px;
}

.following {
    border-top: 1px solid black;
}

.header-content {
    max-width: 70%;
    margin: 21vh auto 0 auto;
    color: white;
    padding: 3% 8%;
    text-align: center;
    background-color: rgba(15, 15, 15, .65);
    background: -webkit-radial-gradient(circle, rgba(15, 15, 15, 1), rgba(15, 15, 15, .65), rgba(15, 15, 15, 0) 70%);
    background: -o-radial-gradient(circle, rgba(15, 15, 15, 1), rgba(15, 15, 15, .65), rgba(15, 15, 15, 0) 70%);
    background: -moz-radial-gradient(circle, rgba(15, 15, 15, 1), rgba(15, 15, 15, .65), rgba(15, 15, 15, 0) 70%);
    background: radial-gradient(circle, rgba(15, 15, 15, 1), rgba(15, 15, 15, .65), rgba(15, 15, 15, 0) 70%);
}

.slide-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide-background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

#header-slide .slide-background {
    background-image: url('./assets/canoe.jpg')
}

.textbox {
    width: 50vw;
    text-align: center;
    height: 90vh;
}

.textbox>h1 {
    border-bottom: 1px solid black;
}
.textbox>p {
    padding: 0 10%;
}
.textbox>img {
    height: 20vh;
    border-radius: 50%;
}
.textbox>a {
    margin: 10%;
    display: block;
    font-size: 1.75em;
    color: black;
}

#projects-slide {
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200%;
}

#projects-slide>h1 {
    border-bottom: 1px solid black;
    width: 50vw;
    text-align: center;
    margin: 0;
}

.projbox {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}


.projbox>a{
    height: 100%;
    max-width: 50%;
    min-width: 325px;
}

.projbox>a>img {
    height: 100%;
}
.description {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 30px;
    width: 30%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.description > h2 {
    border-bottom: 2px solid black;
}

/*skills section*/
.chart {
    height: 100%;
}
.chart>div {
    border: 1px solid black;
    text-align: center;
    padding: 3px;
    margin: 1px;
    color: black;
    display: fixed;
    height: 15%;
    margin: 25px 0 0 0;
}

.chart>div:nth-child(1) {
    visibility: hidden;
}
.box {
    position: absolute;
    left: 0;
    height: 100%;
}


/*media query here to display as column if on mobile*/
